.accueil {
  margin-top: 86px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* ------------------------------------------------*/

.lang-linkFR-accueil {
  float: right;
  margin-right: 72px;
}

.lang-linkFR-accueil img {
  width: 60px;
  position: fixed;
  padding-top: 10px;
  z-index: 1;
}

/* ------------------------------------------------*/

.header-accueil {
  width: 100%;
  text-align: center;
  height: 35vh;
  color: white;
  background-image: url(/assets/welcome.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .header-h1-accueil {
  width: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
  color: white;
} */

/* ------------------------------------------------*/

.presentationFR {
  display: flex;
  margin: 60px;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: visible;
}

.presentationFR a {
  text-decoration: none;
  color: #1da1f2;
  transition: all 1s ease;
}

.presentationFR a:hover {
  text-decoration: none;
  color: #f7316b;
  font-size: large;
}

.presentationFR h2 {
  margin-bottom: 30px;
}

.presentationFR img {
  width: 50%;
  margin-left: 45px;
  margin-right: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  transition: all 1.5s ease;
}

.presentationFR img:hover {
  transform: scale(1.2);
  box-shadow: none;
}

.accueil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------------------------------------*/

@media only screen and (max-width: 850px) {
  .accueil {
    text-align: center;
  }

  .presentationFR img {
    width: 80vw;
    margin: 20px 0;
  }

  .accueil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* ------------------------------------------------*/

@media only screen and (max-width: 659px) {
  .accueil {
    text-align: center;
  }

  /* ------------------------------------------------*/

  .lang-linkFR-accueil {
    margin-top: 37px;
  }
}
